body {
  margin: 0;
  background-color: #1e1e1e;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.content-section {
  box-sizing: border-box;
  width: 100%;
  max-width: 360px;
  min-height: 100px;
  margin: auto;
  padding: 0px 20px 0px 20px;
}

.content-section_theme_dark {
  color: #fff;
  background-color: #131313;
}

.content-section_theme_bright {
  color: #131313;
  background-color: #fee42a;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 20px;
}
.header__logo {
  display: block;
  width: 78px;
}
.header__logo-image {
  width: 100%;
}
.header__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}
.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}
.header__menu-item {
  color: var(--text-light, #f5f5f5);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px; /* 120% */
}
.header__menu-link {
  color: var(--text-light, #f5f5f5);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px; /* 120% */
}
.header__menu-item_active .header__menu-link {
  text-decoration: none;
}
.cover__title {
  width: 100%;
  color: #fff;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
}
.accent-span {
  display: block;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.cover {
  min-height: 258px;
  padding: 7px 24px 32px 20px;
  background-image: url(../images/cover.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 95% auto;
}
.intro {
  padding: 0px 20px;
}
.intro__heading {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  color: var(--text-gray, #ccc);
  font-size: 16px;
}
.intro__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
}
.intro__date {
  white-space: nowrap;
  font-size: 16px;
  line-height: 120%; /* 19.2px */
}
.intro__main-text {
  color: #f5f5f5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 135% */
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
  padding: 0px 0px 37px 0px;

  color: #f5f5f5;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.6px; /* 135% */
}
.reasons {
  padding: 20px 0px 20px 0px;
}
.content-section__subtitle {
  font-family: EB Garamond;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%; /* 32.2px */
  padding: 20px 20px 32px 20px;
}
.content-section__introduction {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 135% */
  padding: 0px 20px;
}
.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 20px 20px;
  line-height: 1.35;
  padding-inline-start: 37px;
}
.content-section__list-accent {
  font-weight: 700;
}
.how-to {
  padding: 20px 0px 0px;
}
.cards-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 20px;
  padding-bottom: 60px;

}
.cards-list:last-child {

}
.card {
  margin: 0px 20px;
  padding: 20px;
  border-radius: 30px;
}

.card_theme_dark {
  border-radius: 30px;
  background: var(--gray-bg, #343434);
  color: #f5f5f5;
}
.card_theme_bright {
  border-radius: 30px;
  background: var(--yellow-bg, #fee42a);
  color: #141414;
}
.card__author {
}
.card__author-photo {
  width: 100px;
  display: block;
  border-radius: 50%;
  margin-bottom: 8px;
}
.card__author-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  margin-bottom: 8px;
}
.card__content {
}
.card__title {
  padding-bottom: 8px;
  font-family: EB Garamond;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%; /* 29.7px */
}
.card__text {
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px; /* 135% */
}
.footer {
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #fee42a;
  min-height: 20px;

}
.footer__copy {
}

.footer__links {
  display: flex;
  gap: 16px;
  list-style: none;
}
.footer__links a {
  font-size: 14px;
  line-height: 1.25;
  text-decoration: none;
}

